<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfKqr2opuHza9hkXFmofPGg4t_HVOmcpk</string>
	<key>GCM_SENDER_ID</key>
	<string>981215713715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pickplay.kwcc</string>
	<key>PROJECT_ID</key>
	<string>today-balance-fa0a5</string>
	<key>STORAGE_BUCKET</key>
	<string>today-balance-fa0a5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981215713715:ios:9c812d5a30fea59b9c53c6</string>
</dict>
</plist>